@media screen and (max-width: 499px) {
    .Trailer {
        width: 100%;
        height: 50vw;
        margin: 5% 0%;
    }
}

@media screen and (max-width: 320px) {
    .ContentPage p{
        font-size: smaller;
    }
}

@media screen and (min-width: 500px) {
    .Trailer {
        width: 100%;
        height: 30vw;
    }
}


.MultimediaInfo {
    width: 100%;
    display: inline-flex;
    align-content: space-around;
    margin-bottom: 2%;
  }
  
  .MultimediaInfo img {
    width: 30%;
    height: auto;
    padding-right: 3%;
  }
  
  .MultimediaInfo p {
    width: 67%
  }