.HeaderButton{  
    transition: font-size 0.2s;
    padding: 1% 0 1% 0;
    color: black;
    width: calc(1*100%/2);
    text-align: center;
    border-bottom: 3px solid transparent;
}
  
.HeaderButton:hover{
    color: white;
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 3px solid red; 
    font-size: larger;
}
  
.active {
    border-top: 3px solid red;
    background-color: black;
    color: white;
    font-size: larger;
}