@media (max-width: 599px) {
    .WelcomeContent h3 {
        margin-top: 0;
        font-size: 5vw;
    }
    .WelcomeContent p{
        font-size: 3vw;
    }

    .WelcomeContent {
        box-shadow: 5px 10px 9vmax 10vmax rgba(41, 41, 41, 0.97) inset;
        background-size: 100%;
        height: 52vw;
    }
}

@media (min-width: 600px) {
    .WelcomeContent {
        box-shadow: 5px 10px 10vmax 13vmax rgba(41, 41, 41, 0.97) inset;
        background-size: 100% auto;
        height: 33vmax;
    }
}


.WelcomeContent {
    transition: box-shadow 1s;
  
    cursor:grab;
    margin-top: 2%;
    color: white;
  }
  
  .WelcomeHeader {
    margin-top: 5%;
  }
  
  .WelcomeContent:hover {
    box-shadow: 40px -5vmax 10vmax 12vmax rgba(41, 41, 41, 0.81) inset;  
  }
  
  .WelcomeContent section {
    padding: 10% 7%;
  }